extends layout 
        
block content  
    p objet: #{objects.objet}
    p Date Perdu: #{objects.date_perdu}
    p Proprietaire: #{objects.proprio}
    p Couleur: #{objects.couleur}
    p Info: #{objects.info}
    p Etat: #{objects.etat}
    hr 

    a.btn.btn-default(href='/objects/edit/'+objects._id) Edit
    a.btn.btn-danger.delete-object(href='/objects/delete/'+objects._id) Delete